*.log
*.tmp
*.cache
*.pid
*.bak
*.swp
*.orig
*.trace
*.out
*.test
*.local.json

/*.sh

*.pprof
*.prof

/notes.md
/*.txt
/*.svg

*aenv

**/*instructions.md
**/*prompt.md

.sisyphus
.superpowers
.superpowers-agents
